# Gzip/deflate
BrowserMatch ^Mozilla/4 gzip-only-text/html
BrowserMatch ^Mozilla/4\.0[678] no-gzip
BrowserMatch \bMSIE !no-gzip !gzip-only-text/html
AddEncoding gzip .gz

# Rewrite
<IfModule mod_rewrite.c>
    Options +FollowSymLinks
    Options -Indexes
    RewriteEngine	on
    
    # CSS gzip
    RewriteCond %{HTTP:Accept-encoding} gzip
    RewriteCond %{HTTP_USER_AGENT} !Konqueror
    RewriteCond %{REQUEST_FILENAME}.gz -f
    RewriteRule ^(.*)\.css$ $1.css.gz [QSA,L]
    <FilesMatch \.css\.gz$>
        ForceType text/css
    </FilesMatch>
</IfModule>

# Caching expiration
<ifmodule mod_expires.c>
    ExpiresActive On
    ExpiresDefault A2592000
</ifmodule>
